DATABASE_URL="postgresql://postgres:postgres@localhost:5432/velocity?schema=public"
JWT_ACCESS_SECRET=xfty7e45rheryu56hertgbew45y6ert
JWT_REFRESH_SECRET=dfgjwr6tujhrurgnbdfht6jgfnetj
CLIENT_ORIGIN="http://localhost:5173"
PORT=4000
